# # Python Project

# Python  Project about Basic

we are going to write our first programm.

In [1]:
print("Hello Viveka!!!")

Hello Viveka!!!

# Python Comments

In [2]:
#this is comment
print("Hello Viveka")

Hello Viveka

# Variables & Operators

In [3]:
a = 5
print(a)

5

In [4]:
x = ("Viveka")
print(x)

Viveka

In [5]:
_a = 6
print(_a)

6

# Many values to multiple Variables

In [6]:
x,y,z = "oeange" , "banana" , "cherry"
print(x,y,z)

oeange banana cherry

# Python output Variables

In [7]:
x = "python"
y = "is"
z = "amazing"
print(x,y,z)

print(x)
print(y)

python is amazing
python
is

# Data Types

In [8]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [9]:
y = 5.5
print(y)
print(type(y))

5.5
<class 'float'>

In [10]:
a = 2+5j
print(a)
print(type(a))

(2+5j)
<class 'complex'>

In [11]:
b = [1,2,3,5,4,9,6,5,8,9]
print(b)

[1, 2, 3, 5, 4, 9, 6, 5, 8, 9]

In [12]:
%whos

Variable   Type       Data/Info
-------------------------------
a          complex    (2+5j)
b          list       n=10
x          int        2
y          float      5.5
z          str        amazing

# built in functions

# abs() function

In [13]:
x = abs(-7.25)
print(x)

7.25

# Python Bytes Function

In [15]:
y = bytes(67)
print(y)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

# python chr() function

In [16]:
x = chr(97)
print(x)

a

In [17]:
y = chr(98)
print(y)

b

In [18]:
y = chr(99)
print(y)

c

# Complex function

In [19]:
x = complex(3,5)
print(x)

(3+5j)

In [20]:
y = complex(2.5, 3.96)
print(y)

(2.5+3.96j)

# Float function

In [21]:
x = float(3)
print(x)

3.0

# int function

In [22]:
x = int(12.598)
print(x)

12

In [23]:
z = int(128874.365898)
print(z)

128874

# str() function

In [24]:
a = str("256.68")
print(a)
print(type(a))

256.68
<class 'str'>

# Help() function

In [25]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

# input() function

In [26]:
x = input("enter your name")
print( "hello", x)

enter your nameViveka Gohil
hello Viveka Gohil

In [27]:
y = input("enter your age")
print("your age is", y)

enter your age23
your age is 23

In [30]:
x = input("enter your name")
print( "hello", x)
y = input("enter your age")
print("your age is", y)

enter your nameMeet
hello Meet
enter your age23
your age is 23

In [29]:
x = input("enter your name")
print( "hello", x)
y = input("enter your age")
print("your age is", y)

enter your nameSahil Mandani
hello Sahil Mandani
enter your age25.
your age is 25.

# Control Flow Statement

# if Condition

write a programm to calculate the percantage of a student in the subjects maths science socialv english and hindi

In [32]:
x = input("enter the student name")
a = int(input("enter the marks scored in english"))
b = int(input("enter the marks scored in hindi"))
c = int(input("enter the marks scored in social"))
d = int(input("enter the marks scored in science"))
e = int(input("enter the marks scored in maths"))
n = ((a+b+c+d+e)/500)*100 
print("The percantage scored by student is" , n)

enter the student name Sahil Mandani.
enter the marks scored in english80
enter the marks scored in hindi76
enter the marks scored in social90
enter the marks scored in science96
enter the marks scored in maths98
The percantage scored by student is 88.0

In [33]:
x = input("enter the student name")
a = int(input("enter the marks scored in english"))
b = int(input("enter the marks scored in hindi"))
c = int(input("enter the marks scored in social"))
d = int(input("enter the marks scored in science"))
e = int(input("enter the marks scored in maths"))
n = ((a+b+c+d+e)/500)*100
print("The percantage scored by student is" , n)

enter the student nameMeet
enter the marks scored in english98
enter the marks scored in hindi 97
enter the marks scored in social 99
enter the marks scored in science96
enter the marks scored in maths87
The percantage scored by student is 95.39999999999999

In [34]:
a = int(input("enter the percentge scored by a student"))

if a>= 90:
    print("A grade")
if a>=75 and a<90:
    print("B grade")
if a>=65 and a<75:
    print("C grade")

enter the percentge scored by a student 89
B grade

# if else statement

In [35]:
a = int(input("enter the number"))
if a%5==0:
    print("hello")
else:
    print("bye")

enter the number5
hello

In [36]:
a = int(input("enter the number"))
if a%5==0:
    print("hello")
else:
    print("bye")

enter the number 28
bye

In [37]:
city = input("enter the city")
if city == "Delhi":
    print("The monument in Delhi is redfort")
elif city == "Agra":
    print("The monument in Agra is Taj mahal")
elif city == "jaipur":
    print("The monument in jaipur is jalmahal")
elif city == "orissa":
    print("The monument in orissa is kornak Temple")
elif city == "hydrabad":
    print("The monument in hydeabad is chsarminar")
else:
    print("no record found")

enter the city Jaipur.
no record found

# concept of loops

# program to display numbers from 1 to 5

In [38]:
i = 1
n = 5
while i<=n:
    print(i)
    i = i + 1

1
2
3
4
5

In [39]:
x = int(input("enter the value"))
i = 1
while i<=10:
    print(x*i)
    i = i + 1
print("this is the multiplication table")

enter the value 6
6
12
18
24
30
36
42
48
54
60
this is the multiplication table

In [40]:
for x in "banana":
    print(x)

b
a
n
a
n
a

# user defined function

In [42]:
def my_function():
    print("hello class")
    print("we are learning python")

# calling a function

In [43]:
my_function()

hello class
we are learning python

In [44]:
def my_function(fname):
    print(fname + " " + "Gohil")

In [45]:
my_function("Viveka")
my_function("Bansari")
my_function("Prince")

Viveka Gohil
Bansari Gohil
Prince Gohil

In [46]:
if 500 unit used - pay 5 for each unit
if 500 unit used - pay 5 for each unit
if 500 unit used - pay 5 for each unit
if more than 1000 unit used - pay 20 Rs for each unit

SyntaxError: invalid syntax (3183584524.py, line 1)

In [47]:
def electricity_bill(n):
    if n<=500:
        print("your bill is RS", n*5)
    elif n>500 and n<700:
        print("your bill is RS", n*10)
    elif n>700 and n<1000:
        print("your bill is RS", n*15)
    elif n>1000:
        print("your bill is RS", n*20)

In [48]:
def instructions():
    print("last date of paying the bill is 20 april")
    print("aftyer 20 april you need to pay 1000 Rs as a fine")
    print("electricity office surat")

In [49]:
for i in range(3):
    a = input("Enter the name of a cusstomer")
    n = int(input("Enter the unit of electricity you have used"))
    electricity_bill(n)
    print()
    instructions()

Enter the name of a cusstomer Meet.
Enter the unit of electricity you have used650
your bill is RS 6500

last date of paying the bill is 20 april
aftyer 20 april you need to pay 1000 Rs as a fine
electricity office surat
Enter the name of a cusstomer478
Enter the unit of electricity you have used987
your bill is RS 14805

last date of paying the bill is 20 april
aftyer 20 april you need to pay 1000 Rs as a fine
electricity office surat
Enter the name of a cusstomer999
Enter the unit of electricity you have used1000

last date of paying the bill is 20 april
aftyer 20 april you need to pay 1000 Rs as a fine
electricity office surat

# List in python

In [50]:
mylist = ["apple","banana","cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

In [51]:
mylist = ["apple","banana","apple","cherry","banana","apple"]
print(mylist)

['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']

In [52]:
list1 = ["apple","banana","orange"]
list2 = [2,5,8]
list3 = [7,8,9,5,4,6,2]
list4 = [True,False,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'orange']
[2, 5, 8]
[7, 8, 9, 5, 4, 6, 2]
[True, False, True]

In [53]:
a = [12,-8,5,2.3,2.9,-89,5,8,6,"studentds",True]
print(a)

[12, -8, 5, 2.3, 2.9, -89, 5, 8, 6, 'studentds', True]

In [54]:
a = [12,-8,5,2.3,2.9,-89,5,8,6,"studentds",True]
print(len(a))

11

In [55]:
thislist = [12,15,85,54,63,88,22,55,45,56,58,57]
print(thislist[-2])

58

In [56]:
thislist = [12,15,25,54,85,56,14,15,16,17,18,85]
print(thislist[0:6])

[12, 15, 25, 54, 85, 56]

In [57]:
thislist = [12,15,25,54,85,56,14,15,16,17,18,85]
print(thislist[0:12:2])

[12, 25, 85, 14, 16, 18]

In [58]:
thislist = ["apple","orange","banana"]
thislist[1] = "strawberry"
print(thislist)

['apple', 'strawberry', 'banana']

In [59]:
a = [12,14,15,16,8,9,68,57,-3,-9]
a[2:4] = ["books","pen","paper"]
print(a)

[12, 14, 'books', 'pen', 'paper', 8, 9, 68, 57, -3, -9]

In [60]:
m = [78,89,69,58,57,"paper","pen",58,59]
m.remove("paper")
print(m)

[78, 89, 69, 58, 57, 'pen', 58, 59]

In [61]:
l = [14,58,78,96,-8,9,-45,-25,5,87,96]
print(len(l))
a = 0
for i in range(11):
    a = a + l[i]
    i = i+1
print("the sum of a list is " , a)

11
the sum of a list is  365

# Mixed Data types

In [63]:
my_tuple = (1,"hello",3.2,4+5j)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 3.2, (4+5j))
<class 'tuple'>

In [64]:
a = ("data",[1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

In [65]:
var1 = ("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [66]:
var2 = ("hello")
print(var2)
print(type(var2))

hello
<class 'str'>

In [67]:
a = (47,58,45,48,49,46,42)
print(a[5])

46

In [68]:
a = (1,25,3,6,14,15,18,15,14,18,78,9,64,5,5,8)
print(a[0:7])

(1, 25, 3, 6, 14, 15, 18)

In [69]:
a = (1,25,3,6,14,15,18,15,14,18,78,9,64,5,5,8)
print(a[::2])

(1, 3, 14, 18, 14, 78, 64, 5)

In [70]:
a = (1,25,3,6,14,15,18,15,5,8)
print(a[::-1])

(8, 5, 15, 18, 15, 14, 6, 3, 25, 1)

In [71]:
t = (1,2,3,1,5,4,859,87,56,5,8,7)
print(t)
print(type(t))

(1, 2, 3, 1, 5, 4, 859, 87, 56, 5, 8, 7)
<class 'tuple'>

In [72]:
a = (25,26,27,28,29)
y = list(a)
y.append(30)
a = tuple(y)
print(a)

(25, 26, 27, 28, 29, 30)

In [73]:
a = (25,26,27,28,29)
y = list(a)
y.remove(26)
a = tuple(y)
print(a)

(25, 27, 28, 29)

In [74]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [75]:
T = ()
i = 0
while i<=5:
    num = int(input("enter the values please"))
    T = T + (num,)
    i = i+1
    print(T)

enter the values please10
(10,)
enter the values please20
(10, 20)
enter the values please30
(10, 20, 30)
enter the values please40
(10, 20, 30, 40)
enter the values please50
(10, 20, 30, 40, 50)
enter the values please23
(10, 20, 30, 40, 50, 23)

In [76]:
a = {
    "ID" : "123ab",
    "color":"black",
    "year":1964
}

In [77]:
print(a)
print(type(a))

{'ID': '123ab', 'color': 'black', 'year': 1964}
<class 'dict'>

In [78]:
print(a["color"])

black

In [79]:
dict = {
    "ID":"123ab",
    "color":"Black",
    "year":1964,
    'a':[1,2,3,4,5,6],
    'b':(2,2,4,6,8,5,7,9),
    'c':False
}
print(dict)

{'ID': '123ab', 'color': 'Black', 'year': 1964, 'a': [1, 2, 3, 4, 5, 6], 'b': (2, 2, 4, 6, 8, 5, 7, 9), 'c': False}

In [80]:
d = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
def is_key_present(x):
    if x in d:
        print('key is present in the dictionary')
    else:
        print('key is not present in the dictionary')
is_key_present(5)
is_key_present(9)

key is present in the dictionary
key is not present in the dictionary

# creating a sets

In [81]:
a = {"animals", "ball", "cat"}
print(a)
print(type(a))

{'ball', 'cat', 'animals'}
<class 'set'>

In [82]:
x1 = {1,2,3}
x2 = {1,2.4,2.5,2,8,3,2.6}
x3 = {"a", "b", "c"}
x4 = {True, False, True}
print(x1,x2,x3,x4)

{1, 2, 3} {1, 2.5, 2, 2.4, 3, 2.6, 8} {'a', 'c', 'b'} {False, True}

In [83]:
a = {"data", "python", "code"}

print("viveka" in a)

False

In [84]:
x = {"data", "python", "code"}
y = {10,20,30,40,50,60,70}

x.update(y)

print(x)

{'python', 70, 40, 10, 'code', 50, 20, 60, 30, 'data'}

In [85]:
m = {'data', 70, 40, 'python', 10, 'code', 50, 20, 60, 30}
x = m.pop()
print(m)

{70, 40, 10, 'code', 50, 20, 60, 30, 'data'}

In [86]:
setn = {5,10,5,4,20,58,8}
print("original set elements")
print(setn)
print("maximum value of the set is")
print(max(setn))
print("minimum value of the set is")
print(min(setn))

original set elements
{4, 5, 20, 58, 8, 10}
maximum value of the set is
58
minimum value of the set is
4

In [87]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}